body {
  font-family: 'Barlow Condensed', sans-serif;
}

/* Header */

.jumbotron {
  background-color: #6103c3;
  color: #ffffff;
  text-align: center;
}

h1 {
  text-transform: uppercase;
}

/* Main */

main {
  text-align: center;
}

h2 {
  color: #6103c3;
  text-transform: uppercase;
  padding-bottom: 3%;
}

/* Boxes */
